* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-columns: 1.5fr 2fr;
  gap: 4rem;
}

.main-container {
  display: grid;
  background-color: rgba(50, 43, 150, 0.795);
  position: relative;
  overflow: hidden;
  border-radius: 0.6rem;
}

.head-title {
  margin-top: 2.8rem;
  font-weight: bold;
  font-size: 2.6rem;
  font-family: serif;
  margin-left: 1.8rem;
  color: white;
}

.sub-title {
  font-size: 1.6rem;
  margin-left: 1.8rem;
  margin-right: 1.8rem;
  margin-bottom: 4.8rem;
  color: white;
  font-family: serif;
}

.phone,
.email,
.address {
  display: flex;
  gap: 1.2rem;
}

.contact-information {
  color: white;
}

.contact-info {
  font-size: 1.2rem;
  display: grid;
  gap: 3.2rem;
  margin-left: 1.6rem;
  margin-bottom: 8rem;
}

.contact-icon {
  color: rgb(255, 140, 140);
  margin-right: 1.2rem;
  padding-top: 1.2rem;
}

.icon {
  margin-bottom: 4.6rem;
  display: flex;
  flex-grow: 1 1 auto;
  list-style: none;
  gap: 0.8rem;
  margin-right: 4rem;
  display: relative;
}

.sub-icon:link,
.sub-icon:visited {
  cursor: pointer;
  text-decoration: None;
  color: white;
  padding: 0.6rem;
  border-radius: 50%;
  transition: all 0.5s;
}
.sub-icon:hover,
.sub-icon:active {
  background-color: rgb(255, 140, 140);
  cursor: pointer;
}

.main-container::after {
  background-color: rgb(255, 140, 140);
  color: rgb(255, 140, 140);
  bottom: -8.4rem;
  right: -10rem;
  padding: 10rem;
  position: absolute;
  content: "check";
  border-radius: 60%;
}

.icon::after {
  background-color: rgb(158, 106, 189);
  color: rgb(158, 106, 189);
  padding: 2.6rem 2.6rem 4rem 4rem;
  position: absolute;
  content: "check";
  border-radius: 100%;
  right: 6.4rem;
  bottom: 5.4rem;
}

.enrollment {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  margin-top: 1.2rem;
  gap: 3.6rem;
}

.first,
.second {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
}

.selection {
  margin-top: 2.4rem;
  display: flex;
  gap: 4.8rem;
}
.question {
  display: grid;
  justify-content: space-between;
}

.question-answer {
  color: darkblue;
  font-weight: bold;
  font-size: 1.2rem;
  margin-bottom: -0.4rem;
}

.gray-answer {
  color: gray;
  font-size: 1rem;
}

.line-input {
  background: transparent;
  border: none;
  border-bottom: 1px solid #000000;
  padding: 0.8rem 6.2rem;
  margin-left: 0;
}

.question-answer-message {
  margin-bottom: 0.8rem;
}
.line-input-message {
  padding: 2.8rem 16rem;
}

button {
  position: absolute;
  color: white;
  background-color: rgba(50, 43, 150, 0.795);
  padding: 1.6rem 6.8rem;
  font-size: 1.2rem;
  margin: -3.4rem 24rem;
}

.sub-container {
  position: relative;
}
